<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb
      class="files-breadcrumb"
      root="Personal Files"
      [target]="documentList"
      [folderNode]="documentList.folderNode"
    >
    </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>

  <app-file-counting-button
    (click)="onClickCountingChildren($event)"
  >
 </app-file-counting-button>

  <adf-upload-button
    [rootFolderId]="documentList.currentFolderId || '-root-'"
    [adf-check-allowable-operation]="'create'"
    (success)="uploadSuccess($event)"
  >
  </adf-upload-button>

</adf-toolbar>

<adf-document-list
  #documentList
  currentFolderId="-root-"
  (preview)="showPreview($event)"
  [contextMenuActions]="true"
>
  <data-columns>
    <data-column key="$thumbnail" type="image">
    </data-column>
      <data-column
          title="Name"
          key="name"
          class="full-width ellipsis-cell">
          <ng-template let-folderId="$implicit.row.getValue('id')" let-name="$implicit.row.getValue('name')">
            <span>{{name}}</span>
            <span>(Files: {{countsOfFiles[folderId]}}, Folders:{{countsOfFolders[folderId]}})</span>
          </ng-template>
      </data-column>
      <data-column
              title="Size"
              key="empty"
              class="full-width ellipsis-cell">
      </data-column>

      <data-column
              title="Modified"
              key="modifiedAt"
              class="full-width ellipsis-cell">

      </data-column>



  </data-columns>
</adf-document-list>

<adf-pagination
  [target]="documentList"
  [supportedPageSizes]="[5, 10, 15, 20]"
  [pagination]="10"
>
</adf-pagination>

<adf-file-uploading-dialog>

</adf-file-uploading-dialog>
